@import '../variables.scss';

.sidebar {
    color: $accent-color;

    .sidebar-header {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        display: flex;
        width: 25rem;
        align-items: center;

        h2 {
            margin: 0;
        }
    }

    svg {
        width: 1.5rem;
        height: auto;
        margin: 1rem 1.5rem;
    }

    .sidebar-icon {
        cursor: pointer;
    }

    ul {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;

        transition: 0.3s;

        width: 25rem;
        height: 100vh;
        background-color: $main-color;
        text-align: center;

        margin: 0;
        padding: 3rem 0 0;

        div {
            display: flex;
            justify-content: center;
            padding: 1rem;
            user-select: none;

            svg {
                width: 3rem;
            }
        }

        li {
            box-sizing: border-box;
            list-style: none;
            padding: 1rem;
            width: 100%;
            font-size: 1.5rem;
        }

        li:hover {
            background-color: $base-color;
            cursor: pointer;
        }
    }
}